@using ADO.BL
@model SwimmingModel

<div class="row">
    <div class="col-md-8">
        <form asp-action="Index" asp-controller="Swimmers" method="post">
            <table class="table table-responsive">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Age</th>
                    <th>Coach Id</th>
                </tr>
                @foreach(SwimmerDTO swimmer in Model.Swimmers )
                {
                    <tr>

                        <td>@swimmer.Id</td>
                        <td>@swimmer.FirstName</td>
                        <td>@swimmer.LastName</td>
                        <td>@swimmer.Age</td>
                        <td>@swimmer.CoachId</td>
                     </tr>
                }
            </table>
            <br />
            <table class="table table-responsive">
                <tr>
                    @for (int i = 1; i < Model.PageCount; i++)
                    {
                        <td>
                            @if (i != Model.CurrentIndex)
                            {
                                <a href="javascript: PagerClick(@i);">@i</a>
                            }
                            else
                            {
                                <span>@i</span>
                            }
                        </td>
                    }

                </tr>
            </table>
            <input type ="hidden" id="hfCurrentPageIndex" name="CurrentPageIndex"/>
        </form>
        <script>
            function PagerClick(index) {
                document.getElementById("hfCurrentPageIndex").value = index;
                document.forms[0].submit();
            }
        </script>
    </div>
</div>

