@using SwimmingWebApp.ViewModels;
@model IndexViewModel
@{
    ViewBag.Title = "Trainings";
}

<a asp-action="Create" asp-controller="SwimmerTraining">Add training</a>
<a asp-action="Delete" asp-controller="SwimmerTraining">Delete training</a>
<a asp-action="Update" asp-controller="SwimmerTraining">Update training</a>


<table class="table">
    <tr><td>Id</td><td>First Name</td><td>Last Name</td><td>Date</td><td>Style</td><td>Distance</td></tr>
    @foreach (var item in Model.Trainings)
    {
        <tr>
            <td>@item.TrainingId</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.TrainingDate</td>
            <td>@item.Style</td>
            <td>@item.Distance</td>
        </tr>
    }
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Back
    </a>
}

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Forward
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
























