@model IEnumerable<DTO.Models.TrainingsSwimmersSwimStyleDTO>
@{
    ViewBag.Title = "All trainings";
}
<a asp-action="create">Add training</a>
@*<a asp-action="Delete">Delete swimmer</a>*@
@*<a asp-action="Update">Update coach</a>*@
<table class="table">
    <tr><td>Swimmer Name</td><td>Swimmer Surname</td><td>Training Date</td><td>Style</td><td>Distance</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.FirstName</td><td>@item.LastName</td>
    <td>@item.TrainingDate</td><td>@item.Style</td><td>@item.Distance</td></tr>
    }
</table>